.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  font-family: Starjedi;
  text-transform: lowercase;
}

.paragraph, .quote {
  width: 50%;
  min-width: 350px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.subheading {
  font-family: Starjedi;
  text-transform: lowercase;
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  width: 50%;
  min-width: 350px;
}

.route {
  margin-top: 2rem;
}

.route, .unorderedlist, .firstroute, .codeblockcontainer {
  width: 50%;
  min-width: 350px;
  text-align: justify;
}

.code {
  font-family: NotoSansMono;
  color: gray;
  width: fit-content;
}

.unorderedlist {
  list-style-type: square;
  margin-left: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.codeblockcontainer {
  opacity: .9;
  overflow-x: scroll;
}

.codeblock {
  border-radius: 5px;
  filter: invert(1);
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: NotoSansMono;
}

.footer {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-style: italic;
  color: #aaa;
  width: 50%;
  min-width: 250px;
}

.footerLink {
  text-decoration: none;
  color: blue;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}