.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: rgba(00, 00, 00, .7);
}
.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-family: Starjedi;
  text-transform: lowercase;
}
.paragraph, .quote {
  width: 100%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.8;
}
.subheading {
  font-family: Starjedi;
  text-transform: lowercase;
  margin-top: 2rem;
  font-size: 1.7rem;
  width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
}
.route {
  margin-top: 2rem;
}
.route, .unorderedlist, .firstroute, .codeblockcontainer {
  width: 100%;
  text-align: justify;
}
.code {
  font-family: NotoSansMono;
  color: gray;
  background-color: black;
  width: fit-content;
}
.unorderedlist {
  list-style-type: square;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  width: auto;
}
.listitem {
  overflow-wrap: break-word;
  hyphens: auto;
}
.codeblockcontainer {
  opacity: .9;
  overflow-x: scroll;
}
.codeblock {
  border-radius: 5px;
  filter: invert(1);
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: NotoSansMono;
}
.footer {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-style: italic;
  color: #aaa;
  width: 50%;
  min-width: 250px;
}
.footerLink {
  text-decoration: none;
  color: blue;
}
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.contentcontainer {
  width: 50%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* Ici : media queries pour la seconde partie tablette */
@media screen and (max-width: 991px) {
  .heading {
    font-size: 1.5rem;
  }
  .subheading {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .route {
    margin-top: 2rem;
  }
  .paragraph, .quote, .footer {
    line-height: 1.7;
  }
  .route, .unorderedlist, .firstroute, .codeblockcontainer, .paragraph, .quote, .code, .codeblock, .footer, .footerLink {
    font-size: 14px;
  }
  .unorderedlist {
    gap: .6rem;
  }
  .firstroute, .route {
    margin-bottom: 6px;
  }
}
/* Ici : media queries pour la première partie smartphone */
@media screen and (max-width: 660px) {
  .heading {
    font-size: 1.2rem;
  }
  .subheading {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .route {
    margin-top: 2rem;
  }
  .paragraph, .quote, .footer {
    line-height: 1.5;
  }
  .route, .unorderedlist, .firstroute, .codeblockcontainer, .paragraph, .quote, .code, .codeblock, .footer, .footerLink {
    font-size: 13px;
  }
}